/*
Theme Name: His Whole House
Theme URI: http://hiswholehouse.com/
Github Theme URI: https://github.com/jcwebs09/hiswholehouse
Version: v2.0.0
Author: Josh Medeski
Author URI: http://medeskidesign.com/

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Images
:: Posts
:: Typography
:: Structure
*/

html {
  background: #3d3b3b;
}

/* -----------------------------------------
   Images
----------------------------------------- */
::selection {
	background: #EE964F; color: white; /* Safari */ }
::-moz-selection {
	background: #EE964F; color: white; /* Firefox */ }

.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"], 
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}

.wp-caption { max-width: 100%; }

.attachment-post-thumbnail {
  float: left;
  width: 40%;
  padding-right: 7px;
}

/* -----------------------------------------
   Posts
----------------------------------------- */

.author-box h5 {margin-top:0px;}
.author-box .author_gravatar {margin-right:10px;}
.author-box p {font-size:14px; font-size:1.4rem;}

article .th {margin-bottom:10px; margin-bottom:1rem;}

.alignleft {float:left;}
.alignright {float:right;}

article header h2 { font-size: 18px; margin-bottom: 5px; }
article header h6 { font-size: 15px; margin-top: 0px; margin-bottom: 5px; }

h2 { font-size: 25px; }
.label { margin: 5px; background: #2A0B57; font-weight: normal; }
.label a { color: white; }
.label a:hover { color: #4c129d; }

div.alert-box { background-color: #2a0a57; }

.events-table, table tbody tr:nth-child(even), table thead { background-image: url(images/header.jpg); }
tabel { border: none; }

/* -----------------------------------------
   Typography
----------------------------------------- */

h1 {font-family: 'Oleo Script', cursive;}
h1,h2,h3,h4,h5,h6 {font-weight:300; }
h1 { color: #2a0a57; }
h3, h2 { color: #1D1D1D; }
h3 { font-size: 1.688em; }
h3 a, a { color: #ee964f; }
h3 a:hover, a:hover { color: #da6d15; }
h4 { font-size: 20px; }
h6 { color: #1D1D1D; }
#title h1 { color: #2a0a57; }
input.button { font-weight: normal; }
.button { background-color: #ee964f; border:  1px solid #da6d15; }
.button:hover { background-color: #da6d15; }
aside { color: #444444; }
aside a { color: #444444; }
.panel { background-color: #ee964f; }
.panel.secondary { background-color: #2a0a57; }
.panel.trimary { background-color: #1d8e74; }
.panel h4, .panel p { color: white;}
ul, ol { margin-left: 12px; }

/* -----------------------------------------
   Structure
----------------------------------------- */

header#top, #page-content { background-image: url(images/header.jpg); }
#page-content { -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.75); }
.textured { background-image: url(images/title.jpg); }
.textured h1 { font-size: 55px; margin-top: 35px; margin-bottom: 15px; }
#page-content { padding-top: 15px; padding-bottom: 20px; }
#bottom { background-image: url(images/footer.jpg); border-top: 3px #aaaaaa solid; color: #aaaaaa; }
#bottom a { color: #aaaaaa; }
#bottom a:hover { color: #da6d15; }
#bottom h5 { color: #ffffff; }
#copyright { background-color: #3d3b3b; color: #7a7979; font-size: 10pt; }
article { padding-top: 25px;}
#search .button { padding: 0px; }
#copyright p { margin: 10px 0; }

/* -----------------------------------------
   Navigation
----------------------------------------- */

#megaMenu.megaMenuHorizontal ul.megaMenu {
background: #2a0b57;
}
#megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item > a, #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item > span.um-anchoremulator {
border: none;
}

nav { background-color: #2a0b57; }
nav ul.nav-bar { margin-top: 0px; margin-bottom: 0px; background: #2a0b57; }
nav ul.nav-bar li { border: none; }
.nav-bar > li.current-menu-item > a { color: #ee964f; font-weight: bold; }
.nav-bar>li:hover{ border-bottom: 0px #EE964F solid; background: none; }
.nav-bar>li>a:hover, ul.flyout li a, .nav-bar li ul li a:hover { background-color: #da6d15; color: white; }
ul.flyout li a:hover { background-color: #c5a8ef; }

/* -----------------------------------------
   Orbit Slider
----------------------------------------- */
.orbit-wrapper h1 { font-size: 40px; }
.orbit-slide { padding: 30px 60px; }
.orbit img { margin-top: 35px; }