/* -----------------------------------------
   White Labeling
----------------------------------------- */

.mobile #login h1 a, #login h1 a { background: url(../images/login.png) no-repeat; width: 326px; height: 130px; }
body.login { background: url(../images/header.jpg) repeat; }
.login #nav a, .login #backtoblog a { color: #ee964f!important; }
.login #nav a:hover, .login #backtoblog a:hover { color: #db711b!important; }

.wp-core-ui .button.button-large { background-color: #ee964f; border:  1px solid #da6d15; background-image: none;}